.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: #fef7e5;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  /* background-image: url("https://source.unsplash.com/random/?minimal"); */
}

h1 {
  color: #7c5a04;
}

img {
  margin-top: 2rem;
  border-radius: 10px;
  height: 30rem;
  width: 40rem;
  object-fit: cover;
}
