.post-wrap {
  width: 8rem;
  height: auto;
  display: flex;
  flex-direction: column;
}
.image {
  height: 10rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
}
.image img {
  margin: auto;
  width: 8rem;
  object-fit: contain;
}
.title {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
.price {
  margin-top: 0.5rem;
  display: flex;
  font-size: 1rem;
}
.prev-price {
  text-decoration: line-through !important;
  padding-right: 0.5rem;
  color: gray;
}
.rating {
  margin-top: 0.5rem;
  display: flex;
  font-size: 1rem;
}
.style-name {
  font-size: 0.8rem;
  color: rgb(38, 39, 39);
  padding-top: 0.8rem;
}

.heartfill {
  position: absolute;
  cursor: pointer;
  font-size: 1.2rem;
}
.show-product {
  position: absolute;
  margin-top: 7rem;
  height: 3rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  cursor: pointer;
}
.show-product:hover {
  position: absolute;
  margin-top: 7rem;
  height: 3rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(164, 41, 41, 0.6);
  color: white;
  cursor: pointer;
}
